/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
.main-container {
	max-width: 1140px;
	margin:auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
form p{
	text-align: center;
	text-decoration: underline;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, a:hover {
	color: #B1663C;
}
nav li a {
	text-decoration: none;
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters{
	display: flex;
	width: 600px;
	margin: auto;
	justify-content: space-around;
}
.filter{
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white ;
	margin : 2em auto ;
	min-width: 100px;
	height: 37px;
	text-align: center;
	border-radius: 60px ;
	padding: 0 15px;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid #1D6154
}
.filterSelected {
	color: white;
	background-color: #1D6154 ;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact, #form_container {
	width: 50%;
margin: auto;
}
#contact, #form_container > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #form_container form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #form_container input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #form_container label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* --------------- Log in page -----------------  */
.body_login {
	height: 1024px;
}

.footer_login {
	height: 60px;
	position: fixed;
	bottom: 0; 
	left: 0;
	width: 100%;
}

.error {
	margin: 2em 0 1em 0;
	color:#EC6D5C;
	font-weight: bold;
	display: none;
}

/* ----------- edition mode -----------  */
.admin{
	display: none;
}
.adminBlock {
	background-color: black;
	display: flex; 
	height: 59px;
	justify-content: center	;
}
.infoEtBtn {
	display: flex;
	flex-direction: row;
}
.infoMode{
	display: flex; 
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}
.infoMode p{
	color: white;
	width: 129px;
	height: 19px;
	font-weight: 400;
	font-size: 16px;
}
.fa-regular{
	color :white;
	padding-right: 10px;

}
.btnPublish{
	background-color: white;
	margin : 2em auto ;
	width: 216px;
	height: 38px;
	margin: 10px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
.projetsEtEditProjets{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.pen {
	color: black;
}
.editProjets .editImgSoB{
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	padding-left: 25px;
    padding-top: 10px;
	display: none;
}
.editProjets{
	padding-left: 20px;
	padding-top: 10px;
	display: none;
}
.editImgSoB{
	padding-left: 55px;
	display: none;
}
/* -------------------- Modal ------------------  */
.modal {
	position: absolute;
	width: 1440px;
	height: 3326px;
	top: 59px;
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	display: none;
}
.modal-wrapper{
	position: absolute;
    width: 629px;
    height: 731px;
    top: 660px;
    left: 405px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
}
.modal-wrapper h1 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 30px;
	color:black;
}
.fa-xmark {
 margin-left: 580px;
 margin-top: 40px;
}
.btn-closeModal{
	border: none;
	background: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.close-modal-text{
	display: none;
}
.bottom-modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.greyLine {
	background: rgba(179, 179, 179, 1);
	border: 1px solid rgba(179, 179, 179, 1);
	width: 420px;
	margin: auto;
	margin-bottom: 30px;
}
#addPhoto{
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	width: 237px;
	margin: auto;
	height: 36px;
	top: 1267px;
	margin-bottom: 30px;
	left: 600px;
	border-radius: 60px;
	color: white;
	background: rgba(29, 97, 84, 1);
	border: 1px solid #1D6154;
	cursor: pointer;
}
.deleteGallery{
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(214, 83, 83, 1);
}

.gallerymodal{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	margin: 40px 90px;
	/* max 5 cards par ligne */
}
.gallerymodal-card{
	width:76.86px;
	height: 116px;
	position:relative;
	display: flex;
}
.gallerymodal-card-img {
	width: 100%;
	height: 102.56px;
	object-fit: contain;
}
.gallerymodal-card-btn {
	margin-top: 5px;
    border: none;
    background: none;
    font-family: Work Sans;
	position: absolute;
    top: 100px;
    font-size: 12px;
	padding: 0;
	cursor: pointer;
}
.icon-trash {
	background-color: black;
	color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: 5px;
	cursor: pointer;
    margin-left: 55px;
}
/* ____ dl nouvelle image ____ */

.imgDownload {
	width: 420px;
	height: 169px;
display: flex;
justify-content: center;
align-items: center;
	border-radius: 3px;
	background-color: #E8F1F6;
}
.formatPhoto{
	font-family: 'Work Sans';
}
.icon-img{
	width: 76px;
	height: 76px;
	top: 799px;
	left: 681px;
	padding: 9.5px 3.93px 6.87px 3.93px;
}
.fa-image {
color: #B9C5CC;
font-weight:normal;
}